[submodule "Naive-Bayes-Classifier"]
	path = Naive-Bayes-Classifier
	url = https://github.com/aryanhaddadi/Naive-Bayes-Classifier
[submodule "A_Star-Search-Algorithm"]
	path = A_Star-Search-Algorithm
	url = https://github.com/aryanhaddadi/A_Star-Search-Algorithm
[submodule "Minimax-Game"]
	path = Minimax-Game
	url = https://github.com/aryanhaddadi/Minimax-Game
[submodule "Decision-Tree"]
	path = Decision-Tree
	url = https://github.com/aryanhaddadi/Decision-Tree
[submodule "Neural-Network"]
	path = Neural-Network
	url = https://github.com/aryanhaddadi/Neural-Network
